
.body-content{
    /* position: absolute; */
    padding: 150px 10px 50px 10px;
}



.input-content {
    margin: 10px 0px 10px 0px;
  }
  
  
  input.search {
    width: 600px;
    padding: 5px;
    margin: 5px 2px;
    font-weight: bold;
    /* font-size: 18px; */
    /* color: #ffff; */
    /* background-color: #eeeeee !important; */
   }
  
  
   .input-search {
    width: 100%;
    display: flex;
    justify-content: center;
   }


   .more-filters {
    padding: 5px 10px;
    display: flex;
    /* background-color: #3f2804; */
   }

   .element {
    margin: 0px 10px 0px 10px;
   }


.box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    width: 90%;
    border-radius: 10px;
    background-color: rgb(249, 170, 0);
    padding: 10px;
    margin: 10px auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

.request-list {
    margin: 0 auto;
    width: 90%;
    /* height: 100vh; */
    /* background-color: rgb(30, 30, 30); */
}





.content-principal {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    /* background-color: aqua; */
}

.search-filter {
    display: flex;
    justify-content: center;
    align-items: center;
}


.one {
    
    margin: 0px 10px;
   width: 49%;
}

.two {
    margin: 0px 10px;
   width: 29%;
}

.three {
  width: 20%;
}






/* CSS */
.button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 120%;
    line-height: 1.15;
    /* margin: 12px 0 0; */
    outline: none;
    overflow: hidden;
    padding: 16px 55px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  .button-9:disabled {
    cursor: default;
  }
  
  .button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }

  /* Cards elements */

  .stats-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px 15px 0px; 
  }

  .label-s {
    font-size: 11px;
    font-weight: 300;
  }

  .total{
    font-size: 14px;
    font-weight: 300;
  }
  
.list {
  width: 68%;
  display: flex;
  flex-direction: column;
  /* background-color: bisque; */
  /* padding: 200px 0px; */
}

  .card {
    margin: 10px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 2px 5px -1px;
    width: 100%;
    padding: 20px 30px;
    background-color: rgb(251, 251, 251);
    border-right: 5px solid #f5ad40;
    border-radius: 10px;
    transition: box-shadow 1s;

  }

  .card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }


  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-title h2 {
    margin: 0;
    padding: 0;
    font-size: 1.9em;
  }

  .points-key {
    padding: 20px 0px 0px 0px;
  }

  .points {
    padding: 0px 0px 0px 10px;
  }

  .points li {
    margin: 0px 10px;
    text-decoration: none;
    
  }

  .company-and-place  {
    margin: 5px 0px;
    display: flex;
    align-items: flex-start;
    font-weight: 700;
  }

  .tags {
    margin: 0px 0px 8px 0px
  }


  
.ad {
  width: 25%;
}



  .card-izq {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 2px 5px -1px;
    padding: 400px 0px;
  }