.body-content{
    /* position: absolute; */
    padding: 150px 10px 50px 10px;
}


   .content-profile {

    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

   }

   .img-user-content {
    width: 30%;
    margin: 0px 20px 0px 0px;
    display: flex;
    justify-items: center;
    flex-direction: column;
   }

   .more-information-user {
    width: 30%;
    padding: 20px;
    margin: 10px 0px;
    background-color: #8b8784;
   }

   .content-information {
    width: 68%;
    /* padding: 50px; */
   }

   .content-information-header {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
   }


   .content-information-footer {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
   }

   .buttons-content {
    display: flex;
    justify-content: space-around;
   }

   .content-information-body {
    width: 100%;
    padding: 15px;
    background-color: #47a398;    
   }

  
  .card {
    /* margin: 40px 100px 200px; */
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .cover-bg {
    width: 100%;
    height: 120px;
    background: #b4e2d6;
    background: url("https://images.pexels.com/photos/131683/pexels-photo-131683.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") no-repeat center;
    background-size: 260%;
    border-radius: 5px 5px 0 0;
  }
  .user-info {
    padding-left: 16px;
    padding-top: 10px;
  }
  .user-info-wrap {
    margin-top: -35px;
    display: flex;
    padding: 0 20px;
  }
  .user-name {
    font-weight: 500;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-top: -5px;
  }
  .user-title {
    font-size: 16px;
    font-weight: 500;
    color: #282828;
    display: block;
    margin-top: 5px;
  }
  .user-photo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background: #fff url("https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") no-repeat center;
    background-size: cover;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  }
  .user-bio {
    padding: 20px;
  }
  .user-bio p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 40px;
  }
  .social {
    display: flex;
    justify-content: space-between;
  }
  .social-icons {
    display: flex;
  }
  .social a {
    display: block;
    height: 20px;
    color: #a9a9a8;
    margin-right: 13px;
    transition: all 0.3s ease-in-out 0s;
  }
  .social a .fa {
    height: 32px;
  }
  .social a:hover {
    color: #47a398;
  }
  .social .message a {
    margin: 0;
  }
  

  .button-22 {
    align-items: center;
    appearance: button;
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 51px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-22:active {
    background-color: #006AE8;
  }
  
  .button-22:hover {
    background-color: #1C84FF;
  }
   

  .tags{
    margin: 0px 0px 6px 0px;
  }

  /* Buttons customizable */


  .buttons-verification {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
  }

  .button-v {
    width: 100%;
    margin: 10px 5px 0px 5px;
    padding: 9px 0px;
    background-color: #0276FF;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    color: #fff;
    cursor: pointer;
    border: #fff;
    border-radius: 5px;
    line-height: 1.15;
  }
  
  .button-v:active {
    background-color: #006AE8;
  }
  
  .button-v:hover {
    background-color: #1C84FF;
  }
   
  .starts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 600;

  }