<nz-spin [nzSpinning]="isSpinning">
    <form #f="ngForm" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <p class="presentacion-title"><span class="welcome">Bienvenido </span>, Ingresa los datos correspondientes para
        registrarte: </p>
  
      <!-- <nz-switch (ngModelChange)="changeRegistration($event)" [ngModelOptions]="{standalone: true}" [ngModel]="isCompany" nzCheckedChildren="Compañía" nzUnCheckedChildren="Usuario"></nz-switch>
       -->
  
  
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">    
      <nz-form-item class="input-content-1" *ngIf="!isCompany">
        <nz-form-control nzErrorTip="Campo obligatorio">
          <nz-input-group nzPrefixIcon="user">
            <input type="text"  nz-input formControlName="firstName" placeholder="Nombres (s) " />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
        </div>
  
        <div nz-col nzSpan="12">
          <nz-form-item class="input-content-1" *ngIf="!isCompany">
            <nz-form-control nzErrorTip="Campo obligatorio">
              <nz-input-group nzPrefixIcon="user">
                <input type="text"  nz-input formControlName="lastName" placeholder="Apellidos (s)" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
  
        
        <div *ngIf="isCompany" nz-col nzSpan="24">
      <nz-form-item class="input-content-1" *ngIf="isCompany" >
        <nz-form-control nzErrorTip="Campo obligatorio">
          <nz-input-group nzPrefixIcon="idcard">
            <input type="text"  nz-input formControlName="businessName" placeholder="Razón social" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
        </div>
      </div>
  
  
  
      <nz-form-item class="input-content">
        <nz-form-control nzErrorTip="Correo electrónico no válido">
          <nz-input-group nzPrefixIcon="mail">
            <input type="email"  nz-input formControlName="email" placeholder="Correo electronico"
              required />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item class="input-content">
        <nz-form-control nzErrorTip="Número invalido">
          <nz-input-group nzPrefixIcon="number">
            <input type="text"  nz-input formControlName="phone" placeholder="Número de contacto" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
  
  
      <nz-form-item class="input-content">
        <nz-form-control nzErrorTip="Campo obligatorio">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
  
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="acceptTerms" class="acceptTerms">
            <span> <strong>Acepto los terminos y condiciones</strong></span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot">Aviso de privacidad</a>
        </div>
      </div>
  
      <nz-form-item class="input-content">
        <nz-form-control>
          <form [formGroup]="validateForm">
            <ngx-recaptcha2 formControlName="recaptcha" #captchaElem
              [siteKey]="siteKey"
              formControlName="recaptcha">
            </ngx-recaptcha2>
          </form>
        </nz-form-control>
      </nz-form-item>
  
  
  
  
      <button class="button-9" role="button">Registrarme</button>
      <div>
        <a class="text-in" routerLink="/auth/login"> ¿Ya tienes una cuenta?, inicia sesión </a>
      </div>
    </form>
  </nz-spin>