.layout {
  min-height: 100vh;
}



a.btn {
  color: #ffff;
}

a.btn:hover {
  color: rgb(224, 221, 221);
}


.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.avatar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-text {  
  margin: 0px 10px 0px 0px;
  
}

.avatar-user {
  cursor: pointer;
  margin: 0px 20px 0px 0px;
  color: rgb(199, 89, 89);
  background: rgb(248, 248, 248);
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-trigger {
  /* padding: 0px 0px 0px 10px; */
  margin: 2px 0px 0px 15px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger {
  color:rgb(238, 231, 229) !important;
}

.trigger:hover {
  color:rgb(192, 192, 192) !important;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  /* height: 32px;
  width: 32px; */
  width: 100%;
  /* height: 100px; */
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}


nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 24px 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.my-profile-text {
  color:rgb(243, 243, 243);
  
}


.logo-img {
  height:50px;
}

