<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    
    <div class="sidebar-logo">
      <a routerLink="/home">
      <!-- <img class="logo-img" src="assets/images/logo-b.png" alt=""> -->
      <h3> HALE JOBS </h3>
      </a>
    </div>


    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <li nz-menu-item  nzTitle="Comprar" nzMatchRouter nzIcon="form">
        <i nz-icon nzType="bar-chart"> </i> 
        <span  routerLink="/dashboard/statistics" > Dashboard </span>
      </li>

      <li nz-submenu nzOpen nzTitle="Administración" nzIcon="apartment">
        <ul>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/offers-informals"  >Ofertas informales</a>
          </li>


          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/dashboard/admin-payments" > Ofertas formales </a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/admin-announcements" > Comentarios </a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/dashboard/admin-inbox" > Gestión de quejas </a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/dashboard/admin-permissions" > Gestion de pagos </a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/dashboard/admin-users" > Postulaciones Inf. </a>
          </li>

          
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/dashboard/admin-users" > Postulaciones form. </a>
          </li>

          
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/dashboard/admin-users" > Calificaciones N. </a>
          </li>

          
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/dashboard/admin-users" > Calificaciones P. </a>
          </li>

          
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/dashboard/admin-users" > Notificaciones </a>
          </li>

          
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/dashboard/admin-users" > Experiencias de trabajo </a>
          </li>

          
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/dashboard/admin-users" > Gestión de usuarios </a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/dashboard/admin-payments" > Empresas registradas </a>
          </li>

          
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Catalogos" nzIcon="apartment">
        <ul>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/admin-loans"  > Permisos </a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/admin-loans"  >Ciudades INEGI </a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/admin-loans"  > Estados INEGI </a>
          </li>

          
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/admin-loans"  > Tipos de trabajo </a>
          </li>

          
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/admin-loans"  > Tipos de pago </a>
          </li>

          
        </ul>
      </li>

      <!-- <li nz-submenu nzOpen nzTitle="Finanzas" nzIcon="shopping-cart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/dashboard/finance">  Contabilidad y gastos </a>
          </li>
        </ul>
      </li> -->
      
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="solution"> </i> 
        <span> FAQ </span>
      </li>


      <li nz-menu-item  nzTitle="Comprar" nzMatchRouter nzIcon="form">
        <i nz-icon nzType="verified"> </i> 
        <span> Aviso de privacidad </span>
      </li>


    </ul>

    
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
      
          <i class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span> 
        
      <span class="avatar">
        <nz-space>
          <a *nzSpaceItem class="my-profile-text"> <strong> Gabriel Juarez </strong>  </a>
          <!-- <a *nzSpaceItem class="avatar-user"  (click)="onLogOut()" > <i class="fas fa-sign-out-alt"></i> Salir </a>  -->
          <nz-avatar  *nzSpaceItem class="avatar-user" nzText="GA"></nz-avatar> 
        </nz-space>

      </span> 
      
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
