 <nav>
    <div class="wrapper">
      <div class="logo"> <img class="logo-img" src="assets/images/hale-l.png" alt="ss"> </div>
      
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <!-- <li><a href="#">Home</a></li> -->
        <li><a href="#">Empresas</a></li>
        <li>
          <a href="#" class="desktop-item">¿Buscas trabajo?</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">¿Buscas trabajo?</label>
          <ul class="drop-menu">
            <li><a href="#">Crear CV</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">T&C</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="desktop-item">Herramientas</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Chambitas</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="assets/images/kk.png" alt="">
              </div>
              <div class="row">
                <header>Soy reclutador</header>
                <ul class="mega-links">
                  <li><a href="#">Graphics</a></li>
                  <li><a href="#">Vectors</a></li>
                  <li><a href="#">Business cards</a></li>
                  <li><a href="#">Custom logo</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Soy empresa</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Busco trabajo</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a class="btn-login" routerLink="/auth/login">Iniciar sesión</a></li>
        <!-- <li><a class="btn-profile" routerLink="/my-profile">Mi perfil</a></li> -->
      </ul>

      
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>

    <div class="ad">
      <p> <img src="https://static.vecteezy.com/system/resources/previews/002/450/296/original/illustration-of-mexico-flag-free-vector.jpg" alt="mexico"  width="50px"/> </p>    
    </div>



  </nav>



<router-outlet></router-outlet>


<app-footer></app-footer>